title{
    color:aqua;
    background-color:gold;
    padding:4px;

}

p{
    color:black;
    background-color:cornsilk;
    padding:3px;
}
p1{
     color:crimson;
    background-color:cornsilk;
    padding:3px;
}
p2{
     color:crimson;
    background-color:cornsilk;
    padding:3px;
}
p3{
     color:crimson;
    background-color:cornsilk;
    padding:3px;
}
p4{
     color:crimson;
    background-color:cornsilk;
    padding:3px;
}